@media only screen and (max-width: 991px) {
    .header_wrapper .mobile_menu {
        display: block;
        font-size: 30px;
    }

    .header-scrolled {
        height: 79px;
    }


    html,
    body {
        overflow-x: hidden !important;
    }

    html {
        overflow-x: hidden !important;
    }

    .top_bar_sec .mail span {
        width: 35px;
        height: 35px;
    }

    .top_bar_sec .mail a {
        font-size: 14px;
    }

    .header_wrapper .navbar {
        width: 93%;
    }
    .about_wrapper .about_banner .about_img{
        height: 1130px;
    }
    .professional_service{
        padding-top: 55px;
    }
    .experience_wrapper .exp_bg .servic_bann{
        height: 599px;
    }
    .header-scrolled{
        border-radius: 0 0 30px 30px !important;
    }
    .professional_service.blog_sec{
        padding-top: 55px;
    }
    .about_wrapper .about-us-content {
        margin-top: 58px;
    }
    .contact_wrappers .info_bx .info_wrapper{
        padding: 15px 0;
      }
      .stone-care-section .stone-care-text .severce-name h6 a{
        font-size: 15px;
      }
      .banner_wrapper .banner_content h1{
        font-size: 35px;
      }
      .woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count{
        float: unset;
      }
      .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
        float: unset;
      }
}


@media(max-width:551px) {
  
    .top_bar_sec {
        display: none;
    }

    .header_wrapper .navbar {
        top: 12px;
    }

    .header_wrapper .overlap_vector {
        display: none;
    }

    .header_wrapper .navbar-brand img {
        height: 45px;
    }
    .banner_contents .box_content h1{
        font-size: 22px;
        line-height: 34px;
    }
    .about_wrapper .content_wrapper .feature_point .list{
        flex-wrap: wrap;
    }
    .about_wrapper .about_content p{
        font-size: 14px;
    }
    .about_wrapper .content_wrapper .content_title p{
        font-size: 14px;
        text-align: center;
    }
    .about_wrapper .content_wrapper .content_title h3{
        text-align: center;
    }
    .about_wrapper .content_wrapper .feature_point .list .feature_cont p{
        text-align: center;
    }
    .experience_wrapper .exp_bg .servic_bann{
        height: 500px;
    }
    .experience_wrapper .exp_content .right_img img{
        width: 100%;
    }
    .exp_content .right_img .bottom_elem{
        bottom: -99px;
    }
    .experience_wrapper .left-sec h2{
        font-size: 23px;
    }
    .experience_wrapper .left-sec .exp_cont p{
        font-size: 15px;
    }
    .professional_service{
        padding-top: 288px;
    }
    .professional_service.service_inner.service-page{
        padding-top: 44px;
    }
    .banner_wrapper .banner_content{
        width: 96%;
    }
    .banner_wrapper.blog-banner .banner_content h1{
        padding: 0 10px;
        font-size: 20px;
    }
}




@media only screen and (min-width: 991px) {
    .navbar-expand-lg {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0 10px;
    }

    .carousel-indicators {

        position: absolute;
        top: 50% !important;
        left: 0 !important;
        right: auto !important;
        z-index: 1000 !important;
        margin-left: 0% !important;
        bottom: auto !important;
        -webkit-transform: translateY(-50%) rotate(90deg);
        -ms-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
    }
    .top_title.scond{
        padding-left: 40px;
    }
    .footer_wrapper .list{
        padding-left: 30px;
    }


}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .main-btn {
        padding: 10px 14px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .main-btn {
        padding: 10px 14px;
    }

    .header_wrapper .navbar-brand img {
        height: 44px;
    }

    .main-btn {
        font-size: 10px;
    }

    .header_wrapper .nav-item .nav-link {
        font-size: 15px;
        letter-spacing: 0 !important;
    }

    .top_bar_sec .mail a {
        font-size: 13px;
    }

    .header_wrapper .navbar {
        width: 90%;
    }

    .header_wrapper .infosec .phone_wrap a {
        font-size: 15px;
    }

    .header_wrapper .infosec .login_btn a {
        font-size: 14px;
        padding: 6px 23px;
    }
    .experience_wrapper .left-sec h2{
        font-size: 28px;
    }

}